---
layout: default
---

<!-- body模板 -->
<div class="container docs-container">
  <div class="row">
    <!-- 目录 -->
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        {% include lefttree.html %} 
      </div>
    </div>
    <!-- 文章 -->
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
            
            <header class="post-header">
              <h1 class="post-title">
                {{ page.title }}
                <a class="full-screen" onclick="fullScreenStart('.docs-content')">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M20 3h2v6h-2V5h-4V3h4zM4 3h4v2H4v4H2V3h2zm16 16v-4h2v6h-6v-2h4zM4 19h4v2H2v-6h2v4z" fill="rgba(224,139,112,1)"/></svg>
                </a>
              </h1>
              <!--
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
              -->
              <div class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span> By <a target="_blank" href="{{site.url}}">{{ site.author }}</a></div>
              <br />
            </header>
            <article class="post-content">
              {{ content }}
            </article>
        </div>
      </div>
    </div>
  </div>
</div>
